@font-face {
    font-family:'Inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(90deg, rgb(21, 20, 53), rgb(2, 2, 32));
    font-family: 'Inter', sans-serif;
}
nav{
    width: 100%;
   display: flex;
   background-image: linear-gradient(90deg, rgb(21, 20, 53), rgb(2, 2, 32));
   position: fixed;
   top: 0px;
}
.nav-logo{
    flex: 50%;
   
    padding-top: 20px;
    padding-left: 10%;
    justify-content: center;
}
.nav-logo h1{
    color: white;
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    flex: 50%;
    float: right;
   
}
.nav-menu a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-top: 5px;
}
.nav-menu a:hover{
    color: rgb(36, 35, 119);
    border-bottom: 1.5px solid white;
}

label{
    display: none;
}
span#burguer{
    display: none;
    position: relative;
    bottom: 50px;
    float: right;
    color: white;
}
.lista-burguer{  
   border-radius: 15px;
   display: none;
   background-color: rgba(83, 81, 81, 0.849);
   height: 180px;
   position: absolute;
   top: 20px;
   left: 101%;
}
input[type="checkbox"]:checked ~ .lista-burguer
{
    transform: translateX(-115%);
}
.lista-burguer ul{
    width: 120px;
    list-style-type: none;
    border-radius: 30px;

}
.lista-burguer li{
    margin-top: 5px;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color: white;
}
.lista-burguer li:hover{
    border: 1px solid #180f4a;
    background-color:  #222245;
    color: white;
    transform: scale(1.1);
    transition: all 0.2s;    
}
.lista-burguer a{
    text-decoration: none;
    height: 50px;
    
}
input{
    display: none;
}
section{
    margin-top: 200px;
    display: flex;
}
.sobre-mim{
    flex: 50%;
    padding-left: 10%;
    padding-top: 50px;
}
.foto{
    flex: 50%;
}
.sobre-mim .pg1-sobre{
    font-size: xx-large;
    color: rgb(36, 35, 119);
}
.sobre-mim .titulo-sobre{
    font-size: xx-large;
    color: white;
}
.sobre-mim .pg2-sobre{
    font-size: xx-large;
    color: rgb(36, 35, 119);
    background-image:linear-gradient(to right, rgba(46, 46, 75, 0.647),  rgba(46, 46, 75, 0));
}
.sobre-mim .pg3-sobre{
    font-size:x-large;
    color: rgb(210, 207, 207);
    
}
.foto{
    padding-top: 20px;
    padding-left: 90px;
    flex: 50%;
}
.foto img{

    max-width: 100%;
    width: 524px;
    height: 524px;
}
footer{
    background-color:  #222245;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
}
footer span{
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
}
footer span .Matheus-footer{
    padding-left: 5px;
    font-size: large;
    font-weight: 800;
}